body {
    padding: 10px;

}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.row:nth-child(3),
.row:nth-child(6) {
    border-bottom: 5px solid black;
}

.field {
    border: 1px solid black;
}

.field:nth-child(3),
.field:nth-child(6) {
    border-right: 5px solid black;
}

.fieldInput {
    outline: none;
    border: none;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 32px;
}

.fieldInput:disabled {
    background-color: lightgray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
    /* Firefox */
}

button {
    font-size: 18px;
    min-width: 125px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    transition: all ease 0.5s;
}

button:hover {
    background-color: rgb(146, 155, 255);
}

button:focus {
    border: 1px solid blue;
}